<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Slimmer</title>
</head>
<body>
   <div class="app">
      <hi class="app-title">Welcome to Slimmer</hi>
      <p class="app-desc">By <a href="https://github.com/seanc" target="_blank">Sean Wilson</a> - <a href="https://github.com/seanc/slimmer">Documentation</a></p>
   </div>
</body>
</html>
